<template name="introduce">
    <div class="container" style="margin: 5% 0%; margin-left: 3%">
        <div class="col-md-8" style="margin-right: 2%">
            <h2 style="color: #ff7603; font-size: 25px; font-weight: bold">TheWay</h2>
            <span style="font-family: Tahoma;">Nơi cung cấp các thông tin đầy đủ về phân hệ xe khách và taxi, trong đó phân hệ xe khách bao gồm 3 nhà xe chính: Nhà xe Gia Tặng, nhà xe Hải Âu, nhà xe Bình Minh. Phân hệ taxi bao gồm 2 hãng taxi phổ biến: Mai Linh và Phương Đông, được nhiều hành khách tin dùng và trở thành ứng dụng được yêu thích về lĩnh vực tìm kiếm và đặt vé xe khách hoặc taxi. <br>
<br>
TheWay đã phát triển mạng lưới xe khách rộng khắp trong nước với 8 tuyến đường và hàng chục chuyến xe được vận hành ương ứng với các chuyến để phục vụ nhu cầu đi lại của hành khách. Đáp  ứng nhu cầu đi lại ngày càng tăng cao của người dân trong nước với tỷ lệ các chuyến đi đúng giờ và chất lượng dịch vụ luôn dẫn đầu toàn ngành.<br>
<br>
Điểm nổi bậc của ứng dụng là luôn mang đến nhiều sự lựa chọn về các chuyến xe, không chỉ là phuơng tiện vận chuyển, TheWay luôn sáng tạo, mang đến cho hành khách nhiều điều thú vị, vui vẻ trên các chuyến đi. <br>
<br>
                Đối với phân hệ xe khách, hành khách, đến vơi ứng dụng, hành khách có thể tìm kiếm các chuyến xe tương ứng với các tuyến của nhà xe để tìm đúng điểm đi phù hợp. Bên cạnh đó, người dùng có thể đặt chỗ tr
<br>
TheWay đang tiếp tục đẩy mạnh phát triển thêm nhiều tuyến đường trong nước và phân hệ taxi. Đường bay VietJet được công nhận nằm trong “<strong>Top 5 đường bay mới khai trương thành công hàng đầu thế giới</strong>”  năm cùng với các hãng hàng không hàng đầu quốc tế như&nbsp; SpiceJet (Ấn  Độ), EasyJet (Anh Quốc), Southwest (Mỹ) và AirAsia X (Malaysia). Tổ chức  kỷ lục Châu Á đã công nhận VietJetAir là “<strong>Hãng hãng không có nhiều sáng tạo các dịch vụ giải trí trên tàu bay</strong>”. Giải thưởng “<strong> Sao vàng chất lượng dịch vụ</strong>”  do do Tổ chức B.I.D (Business Initiative Directions) Thụy Sỹ trao tặng.  Hai năm liền liên tục nhận đuợc Bằng khen của Bộ giao thông vận tải vả  Bộ văn hóa thể thao &amp; du lịch và đuợc Người tiêu dùng bình chọn qua  Thời báo kinh tế Việt Nam là “<strong>Hãng hàng không có Dịch vụ vận chuyển thân thiện và chế độ khuyến mại tốt nhất Việt Nam</strong>”.<br>
<br>
&nbsp;&nbsp;&nbsp; + <strong>Tầm nhìn:</strong> Trở thành hãng hàng không uy tín và được yêu thích nhất tại Việt Nam và khu vực .<br>
<br>
&nbsp;&nbsp;&nbsp; <strong>+&nbsp; Sứ mệnh: </strong><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -Khai thác và phát triển mạng đường bay rộng khắp. Mang đến sự đột phá trong dịch vụ hàng không. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -Làm cho dịch vụ hàng không trở thành phương tiện di chuyển phổ biến ở Việt Nam và quốc tế cho mọi <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; người dân. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -Mang lại niềm vui, sự hài lòng cho khách hàng bằng dịch vụ vượt trội và những nụ cười thân thiện. <br>
&nbsp;<br>
&nbsp;&nbsp;&nbsp; +<strong> Giá trị cốt lõi: </strong>An toàn – Vui vẻ&nbsp; – Giá rẻ – Đúng giờ </span>
        </div>
        {{>tongdai}}
        <!--<div class="col-md-8" style="margin-right: 2%">

            <span style="font-family: Tahoma;">Một hãng hàng không, trẻ trung, năng động, VietJet đuợc nhiều hành khách  tin dùng và trở thành hãng hàng không được yêu thích trong nước và khu  vực. <br>
<br>
VietJet đã phát triển mạng bay rộng khắp trong nước và đã có kế hoạch  phát triển mạng đường bay trong khu vực châu Á – Thái Bình Dương. Đáp  ứng nhu cầu đi lại ngày càng tăng cao của người dân trong nước và quốc  tế với tỷ lệ các chuyến bay đúng giờ và chất lượng dịch vụ hàng không  luôn dẫn đầu toàn ngành.<br>
<br>
Điểm nổi bậc của hãng là luôn mang đến nhiều sự lựa chọn về các chuyến  bay, không chỉ là phuơng tiện vận chuyển, VietJet luôn sáng tạo, mang  đến cho hành khách nhiều điều thú vị, vui vẻ trên các chuyến bay. <br>
<br>
VietJet đã đuợc vinh danh qua các giải thưởng lớn trong nước và quốc tế. Đường bay VietJet được công nhận nằm trong “<strong>Top 5 đường bay mới khai trương thành công hàng đầu thế giới</strong>”  năm cùng với các hãng hàng không hàng đầu quốc tế như&nbsp; SpiceJet (Ấn  Độ), EasyJet (Anh Quốc), Southwest (Mỹ) và AirAsia X (Malaysia). Tổ chức  kỷ lục Châu Á đã công nhận VietJetAir là “<strong>Hãng hãng không có nhiều sáng tạo các dịch vụ giải trí trên tàu bay</strong>”. Giải thưởng “<strong> Sao vàng chất lượng dịch vụ</strong>”  do do Tổ chức B.I.D (Business Initiative Directions) Thụy Sỹ trao tặng.  Hai năm liền liên tục nhận đuợc Bằng khen của Bộ giao thông vận tải vả  Bộ văn hóa thể thao &amp; du lịch và đuợc Người tiêu dùng bình chọn qua  Thời báo kinh tế Việt Nam là “<strong>Hãng hàng không có Dịch vụ vận chuyển thân thiện và chế độ khuyến mại tốt nhất Việt Nam</strong>”.<br>
<br>
&nbsp;&nbsp;&nbsp; + <strong>Tầm nhìn:</strong> Trở thành hãng hàng không uy tín và được yêu thích nhất tại Việt Nam và khu vực .<br>
<br>
&nbsp;&nbsp;&nbsp; <strong>+&nbsp; Sứ mệnh: </strong><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -Khai thác và phát triển mạng đường bay rộng khắp. Mang đến sự đột phá trong dịch vụ hàng không. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -Làm cho dịch vụ hàng không trở thành phương tiện di chuyển phổ biến ở Việt Nam và quốc tế cho mọi <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; người dân. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -Mang lại niềm vui, sự hài lòng cho khách hàng bằng dịch vụ vượt trội và những nụ cười thân thiện. <br>
&nbsp;<br>
&nbsp;&nbsp;&nbsp; +<strong> Giá trị cốt lõi: </strong>An toàn – Vui vẻ&nbsp; – Giá rẻ – Đúng giờ </span>
        </div>-->


    </div>
</template>