<template name="SlideShow">
    <div class="container">
        <div class="name-XK"
             style=" margin-bottom:30px; padding: 0% 2%;border-top: 1px dotted #000000;">
            <h3><b>Tìm hiểu thêm thông tin dưới đây</b></h3>
            <span style="font-size: 18px"></span>
        </div>

        <div class="content-main">
            <div class="col-md-6">
                <div class="box-list-new ">
                    <img src="/Lich_bay.jpg" alt=""
                         width="240"
                         height="137">
                    <div class="box_content_small">
                        <h3 class="title-h3"><a href="/"
                                                id="canvas_0_ctl01_main_3_widgets_0_WidgetHeadingLink"
                                                title="Mua vé xe khách">
                            Mua vé xe khách
                        </a></h3>
                        <p class="text">
                            Lựa chọn chuyến , giá vé và mua vé đi xe khách của TheWay ngay tại đây!
                        </p>
                        <a href="/" id="canvas_0_ctl01_main_3_widgets_0_ReferenceLink"
                           class="link_landing right" title="▶ Mua vé máy bay!">
                            ▶ Mua vé xe khách!
                        </a>

                    </div>
                </div>


                <div class="box-list-new ">
                    <img src="/imgBook.jpg" alt=""
                         width="240"
                         height="137">
                    <div class="box_content_small">
                        <h3 class="title-h3"><a href="/"
                                                id="canvas_0_ctl01_main_3_widgets_1_WidgetHeadingLink"
                                                title="Các loại xe kh">
                            Các loại xe khách
                        </a></h3>
                        <p class="text">
                            Để lựa chọn giá&nbsp;<a href="/">vé xe khách</a>&nbsp;phù hợp, vui lòng
                            đọc
                            kỹ các loại giá&nbsp;và điều kiện áp dụng tương ứng trước khi mua vé.<br>
                        </p>
                        <a href="/"
                           id="canvas_0_ctl01_main_3_widgets_1_ReferenceLink" class="link_landing right"
                           title="▶ Loại giá vé và điều kiện ">
                            ▶ Loại giá vé và điều kiện
                        </a>

                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="box-list-new ">
                    <img src="the_thanh_toan.jpg" alt=""
                         width="240" height="137">
                    <div class="box_content_small">
                        <h3 class="title-h3"><a
                                href="/"
                                id="canvas_0_ctl01_main_3_widgets_2_WidgetHeadingLink"
                                title="Phương thức thanh toán">
                            Phương thức thanh toán
                        </a></h3>
                        <p class="text">
                            Quý khách có thể thanh toán với thẻ tín dụng, thẻ ghi nợ Việt Nam, hoặc thanh toán sau tại
                            các
                            máy ATM hoặc một số ngân hàng tại Việt Nam.
                        </p>
                        <a href="/"
                           id="canvas_0_ctl01_main_3_widgets_2_ReferenceLink" class="link_landing right"
                           title="▶ Phương thức thanh toán">
                            ▶ Phương thức thanh toán
                        </a>

                    </div>
                </div>


                <div class="box-list-new no-margin">
                    <img src="ban_phim.jpg" alt=""
                         width="241"
                         height="137">
                    <div class="box_content_small">
                        <h3 class="title-h3"><a href="/"
                                                id="canvas_0_ctl01_main_3_widgets_3_WidgetHeadingLink"
                                                title="Tra cứu vé điện tử">
                            Tra cứu vé điện tử
                        </a></h3>
                        <p class="text">
                            Sau khi mua vé trực tuyến, Quý khách có thể tra cứu lại các thông tin mua&nbsp;<a
                                href="/"
                                title="Mua vé máy bay trực tuyến"
                                style="text-decoration: none; font-family: Arial, sans-serif; font-size: 12px;">vé xe khách
                            </a>&nbsp;và đặt chỗ trực tuyến tại đây<br>
                        </p>
                        <a href="/"
                           id="canvas_0_ctl01_main_3_widgets_3_ReferenceLink" class="link_landing right"
                           title="▶ Tra cứu vé điện tử">
                            ▶ Tra cứu vé điện tử
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>