<template name="topheader">


    <!-- <div class="container">
         <div class="row">
             <div class="col-md-5 col-sm-7">
                 <div class="advantages text-center">
                     <h1 class="text-center text-capitalize" style="font-weight: bold"> The Way</h1>
                     <p class="text-center"><i>Chi phí hợp lý - Chuyến đi như ý</i></p>
                     &lt;!&ndash;<button class="btn btn-default center-block"><span class="glyphicon glyphicon-heart-empty"></span> Like!
                         video
                     </button>&ndash;&gt;
                 </div>
             </div>
             <div class="col-md-5 col-sm-6">
                 <div class="call-us pull-right">
                     <div class="row">
                         <div class="col-xs-12">
                             <div class="border-wrapper">
                                 <span class="block os-Bold z_14 c_1 icon-telephone">HOTLINE ĐẶT VÉ:</span>
                                 <p class="os-Light z_21">
                                     <span class="os-ExBold pull-left">0967.11.22.88</span>
                                     <span class="os-ExBold pull-right">0967.11.22.99</span>
                                 </p>
                             </div>
                         </div>
                     </div>
                     <div class="row text-right">

                         <div class="col-xs-6 pad-l-0">
                             <a class="btn btn-default btn-two dropdown-toggle" data-toggle="dropdown">
                                 Hỗ Trợ Online
                                 <span class="caret"></span>
                             </a>
                             <div class="dropdown-menu dropdown-menu-nav dropdown-menu-2" role="menu">
                                 <div class="dropdown-menu-header">
                                     <span class="os-Bold">Hotline hỗ trợ</span>
                                     <a href="#" class="close">×</a>
                                 </div>
                                 <div class="dropdown-menu-content">

                                     <div class="dropdown-menu-item">
                                         <p class="z_13">
                                             <span class="block">Thời gian làm việc:</span>
                                             <span class="block c_2">Từ 8h đến 22h (Làm cả chủ nhật)</span>
                                         </p>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>

     </div>-->
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-7">
                <div class="advantages text-center">
                    <h1 class="text-center text-capitalize"
                        style="font-weight: bold"> TheWay</h1>
                    <p class="text-center"><i>Chi phí hợp lý - Chuyến
                        đi như ý</i></p>
                    <!--<button class="btn btn-default center-
block"><span class="glyphicon glyphicon-heart-empty"></span> Like!
                        video
                    </button>-->
                </div>
            </div>
            <div class="col-md-5 col-sm-6">
                <div class="call-us pull-right">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="border-wrapper">
                                <span class="block os-Bold z_14 c_1 icon-telephone">HOTLINE ĐẶT VÉ:</span>
                                <p class="os-Light z_21">
                                    <span class="os-ExBold pull-left">0967.11.22.88</span>
                                    <span class="os-ExBold pull-right">0967.11.22.99</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row text-right">
                        <div class="col-xs-6">
                            <a class="btn btn-default btn-one dropdown-toggle" data-toggle="dropdown">
                                Đặt vé khách đoàn
                                <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-nav dropdown-menu-1" role="menu">
                                <div class="dropdown-menu-header">
                                    <span class="os-Bold">Đặt vé khách đoàn</span>
                                    <a href="#" class="close">×</a>
                                </div>
                                <div class="dropdown-menu-content z_13">
                                    <p>Dịch vụ đặt khách đoàn khi nhóm
                                        của bạn có 10 người trở lên, bạn sẽ có nhiều ưu đãi hơn khi đặt vé với
                                        chúng tôi:</p>
                                    <ul class="list-unstyled">
                                        <li>Tư Vấn tận tình chu
                                            đáo
                                        </li>
                                        <li>Giảm giá tối đa cho khách
                                            hàng cá nhân.
                                        </li>
                                        <li>Chiết khấu hấp dẫn cho
                                            khách hàng cty.
                                        </li>
                                    </ul>
                                    <form method="post" role="form"
                                          id="formBookGroup" novalidate="novalidate">
                                        <div class="form-group">
                                            <label for="name-11">Họ
                                                tên:</label>
                                            <input type="text"
                                                   class="form-control" id="name-11" name="name">
                                        </div>
                                        <div class="form-group">
                                            <label for="phone-11">Số
                                                di động:</label>
                                            <input type="text"
                                                   class="form-control" id="phone-11" name="phone">
                                        </div>
                                        <div class="form-group">
                                            <label for="email- 11">Email:</label>
                                            <input type="email"
                                                   class="form-control" id="email-11" name="email">
                                        </div>
                                        <div class="form-group">
                                            <label>Yêu cầu đặt khách
                                                đoàn:</label>
                                            <textarea class="form-control" rows="3" name="message"
                                                      id="message-11"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-gold os-Bold send-request">GỬI YÊU CẦU
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 pad-l-0">
                            <a class="btn btn-default btn-two dropdown-toggle" data-toggle="dropdown">
                                Hỗ Trợ Online
                                <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-nav dropdown-menu-2" role="menu">
                                <div class="dropdown-menu-header">
                                    <span class="os-Bold">Hotline hỗ trợ</span>
                                    <a href="#" class="close">×</a>
                                </div>
                                <div class="dropdown-menu-content">

                                    <div class="dropdown-menu-item">
                                        <p class="z_13">
                                            <span class="block">Thời gian làm việc:</span>
                                            <span class="block c_2">Từ 8h đến 22h (Làm cả chủ nhật)</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>